.copyright{
    background-color: #325dff;
    height: 140px;
    display: flex;
    align-items: center;
    p{
        width: 486px;
        margin: 0 auto;
        text-align: center;
        font-family: 'Poppine', sans-serif;
        font-size: 20px;
        font-weight: 400;
    }
    
}
