.c-btn{
    width: 307px;
        text-align: center;
        background-color: #325dff;
        border-radius: 36px;
        padding: 25px;
        margin: 0 auto;
    a{
        width: 100%;
        color: #fff;
       
    }
    &--card{
        margin: 0;
    }
    
}